@import "../common/variables";
@import "../common/mixin";

.section4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-title {
    width: 312px;
  }
  &-swiper {
    width: 960px;
    margin: 50px 0;
    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 100px;
    }
  }
  .swiper-wrapper {
    padding-top: 50px;
  }
  .swiper-button-prev {
    &::after {
      display: none;
    }
    top: 30px;
    left: auto;
    right: 50px;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_prev.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .swiper-button-next {
    &::after {
      display: none;
    }
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_next.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .image-card {
    &-box {
      display: flex;
      align-items: flex-end;
      width: 244px;
      height: 380px;
      @include breakpoint(mobile) {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
      }
    }
  }
}
