@import "../common/variables";
@import "../common/mixin";

.section4 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 160px;
  margin-top: 160px;
  background: url("@/assets/image/section4/bg_section4.png") no-repeat center
    top;
  //height: 1075px;
  height: 56vw;
  background-size: cover;

  @include breakpoint(tablet) {
    //background: url("@/assets/image/section4/bg_section4.png") no-repeat center top;
    // height: auto;
    //background-size: cover;
  }
  @include breakpoint(mobile) {
    // height: auto;
    height: 60vw;
    padding-bottom: 40px;
    background: url("@/assets/image/section4/bg_section4_mo.png") no-repeat
      center top;
    background-size: cover;
  }
  &-title {
    width: 512px;
    @include breakpoint(mobile) {
      width: 240px;
    }
  }
  &-swiper {
    //max-width: 1320px;
    position: absolute;
    bottom: 240px;
    width: 80%;
    transform: translate(343px, 140px);
    @include breakpoint(tablet) {
      // min-width: 960px;
      margin: 140px 0 120px;
      bottom: 50px;
    }
    @include breakpoint(mobile) {
      width: 78%;
      bottom: 12vh;
      transform: translate(0px, 138px);
      // width: 100%;
      // margin: 140px 0 120px;
      // transform: none;
    }
  }
  .swiper {
    padding-top: 80px;
    @include breakpoint(tablet) {
      padding-top: 40px;
    }
    @include breakpoint(mobile) {
      padding-top: 0;
    }
  }
  .swiper-button-prev {
    &::after {
      display: none;
    }
    top: 30px;
    left: 20px;
    right: auto;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_prev.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .swiper-button-next {
    &::after {
      display: none;
    }
    top: 30px;
    left: 70px;
    right: auto;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_next.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .image-card {
    &-box {
      display: flex;
      align-items: flex-end;
      width: 100%;
      // width: 344px;
      // height: 480px;
      @include breakpoint(tablet) {
        width: 100%;
        // width: 244px;
        // height: 380px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        // width: 100%;
        // height: auto;
      }
      img {
        width: 100%;
      }
    }
  }
}
