@import "../common/variables";
@import "../common/mixin";

.section5 {
  height: 1075px;
  padding: 0 60px;
  margin-top: 160px;
  background: url("@/assets/image/section5/bg_section5.png") no-repeat center top;
  @include breakpoint(tablet) {
    height: auto;
    margin-top: 200px;
    background: url("@/assets/image/section5/bg_section5.png") no-repeat center top;
    background-size:  cover;
  }
  @include breakpoint(mobile) {
    margin-top: 150px;
    height: auto;
    padding: 0 20px;
    background: url("@/assets/image/section5/bg_section5_mo.png") no-repeat center top;
    background-size:  cover;
  }
  .swiper{
    padding-top: 80px;
    margin-top: -66px;
    @include breakpoint(mobile) {
      padding: 0;
      margin-top: 0;
    }
  }
  &-box{
    margin: 0 auto;
    padding: 250px 0 80px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: $content-width;
    @include breakpoint(mobile) {
      padding: 120px 0 100px;
      margin-top: 0;
    }
    @include breakpoint(mobile) {
      padding: 105px 0 100px;
      margin-top: 0;
    }
  }
  h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $content-width;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  &-title {
    width: 330px;
  }
  &-title-sub {
    width: 166px;
  }
  &-swiper {
    max-width: $content-width;
    margin: 140px auto 0;
    @include breakpoint(tablet) {
      width: 100%;
      margin: 70px auto 0;
    }
    @include breakpoint(mobile) {
      margin-top: 40px;
      width: 100%;
    }
  }
  .swiper-slide {
    overflow: hidden;
    width: 70% !important;
    img {
      width: 100%;
    }
  }
  .swiper-button-prev {
    &::after {
      display: none;
    }
    top: 30px;
    left: auto;
    right: 50px;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_prev.png") no-repeat center;
    background-size: cover;
  }
  .swiper-button-next {
    &::after {
      display: none;
    }
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: url("@/assets/image/section4/img_next.png") no-repeat center;
    background-size: cover;
  }
  .video.image-card-box{
    width: 100%;
    padding-top: 34%;
    video{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      transform: translateY(-50%);
      object-fit: cover;
    }
  }
  &-video {
    position: relative;
    cursor: pointer;
  }
}
.section5-video .icon{
  width: 60px;
  height: 60px;
  @include position(absolute,50%,0,0,50%);
  transform: translate(-50%,-50%);
  background: url("@/assets/image/section2/img_play.png") no-repeat center;
  background-size: 60px 60px;
  @include breakpoint(tablet) {
    display: none;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

.section5-mo-list {
  li {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}
video[poster]{
  /* 포스터 이미지의 크기를 비디오 영상에 꽉차도록 */
  height:100%;
  width:100%;
}
