@import "../common/variables";
@import "../common/mixin";

.section4 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 160px;
  margin-top: 348px;
  background: url("@/assets/image/section4/bg_section4_v2.png") repeat-x center
    top;
  height: 840px;
  box-sizing: border-box;
  @include breakpoint(tablet) {
    height: 600px;
    background: url("@/assets/image/section4/bg_section4_v2.png") repeat-x
      center top;
    background-size: cover;
  }
  @include breakpoint(mobile) {
    flex-direction: initial;
    align-items: flex-start;
    padding-top: 34%;
    height: auto;
    margin-top: 174px;
    padding-bottom: 40px;
    background: url("@/assets/image/section4/bg_section4_mo_v2.png") repeat-x
      center top;
    background-size: cover;
  }
  &-title {
    transform: translateY(-50px);
    width: 344px;
    @include breakpoint(tablet) {
      transform: translateY(45px);
      width: 280px;
    }
    @include breakpoint(mobile) {
      width: 240px;
    }
  }
  &-title2 {
    width: 440px;
    position: absolute;
    top: 377px;
    left: 50%;
    margin-left: -810px;
    @include breakpoint(tablet) {
      width: 200px;
      margin-left: -362px;
      top: 300px;
    }
    @include breakpoint(mobile) {
      width: 240px;
    }
  }
  &-swiper {
    width: 1320px;
    transform: translate(343px, 60px);
    @include breakpoint(tablet) {
      width: 960px;
      margin: 40px 0;
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin: 0 0 54px;
      transform: none;
    }
  }
  .swiper {
    //padding-top:80px;
    @include breakpoint(tablet) {
      //padding-top:40px;
    }
    @include breakpoint(mobile) {
      //padding-top: 0;
    }
  }
  .swiper-button-prev {
    display: none;
    &::after {
      display: none;
    }
    top: 30px;
    left: 0;
    right: auto;
    width: 30px;
    height: 30px;
    //background: url("@/assets/image/section4/img_prev.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .swiper-button-next {
    display: none;
    &::after {
      display: none;
    }
    top: 30px;
    left: 50px;
    right: auto;
    width: 30px;
    height: 30px;
    //background: url("@/assets/image/section4/img_next.png") no-repeat center;
    background-size: cover;
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .image-card {
    &-box {
      display: flex;
      align-items: flex-end;
      width: 344px;
      height: 480px;
      @include breakpoint(tablet) {
        width: 244px;
        height: 380px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
      }
    }
  }
}

.mobile-card {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 33.333%;
    padding: 0 15px 20px;
    img {
      width: 100%;
    }
  }
}
