@import "../common/variables";
@import "../common/mixin";

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* 
  * 22.09.06 Sam
  * Change max-width to 100%
  */
  //max-width: $content-width;
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
  @include breakpoint(mobile) {
    background: url("@/assets/image/section4/img_prev.png") no-repeat center;
  }
  &-video {
    width: 1200px;
    margin-top: 40px;
    video {
      width: 100%;
    }
    @include breakpoint(tablet) {
      width: 860px;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  &-title {
    margin-top: 80px;
    width: 900px;
    @include breakpoint(tablet) {
      margin-top: 40px;
      width: 670px;
    }
    @include breakpoint(mobile) {
      margin-top: 40px;
      width: 80%;
    }
  }
  &-movie {
    width: 960px;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  &-character {
    position: relative;
    margin-top: 200px;
    display: flex;
    //justify-content: space-between;
    width: 100%;
    @include breakpoint(tablet) {
      margin-top: 100px;
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      margin-top: 40px;
      flex-direction: column;
    }
    img {
      width: 100%;
    }
  } //.section2-character
  //&-right {
  //  width: 900px;
  //
  //  position: absolute;
  //  right: 0;
  //  bottom: -200px;
  //  @include breakpoint(tablet) {
  //
  //    width: 670px;
  //    margin-left: auto;
  //  }
  //  @include breakpoint(mobile) {
  //    width: 100%;
  //    transform: translateY(60px);
  //  }
  //}
  //&-left {
  //  width: 900px;
  //  @include breakpoint(tablet) {
  //    width: 670px;
  //  }
  //  @include breakpoint(mobile) {
  //    width: 100%;
  //  }
  //}
  &-video {
    position: relative;
    cursor: pointer;
    .icon {
      content: "";
      width: 70px;
      height: 70px;

      @include position(absolute, 50%, 0, 0, 50%);
      transform: translate(-50%, -50%);
      background: url("@/assets/image/section2/img_play.png") repeat center;
      background-size: contain;
      @include breakpoint(tablet) {
        display: none;
      }
      @include breakpoint(mobile) {
        display: none;
      }
    }
    video[poster] {
      /* 포스터 이미지의 크기를 비디오 영상에 꽉차도록 */
      height: 100%;
      width: 100%;
    }
  }
}
