//모바일 tablet에서만 노출됨
.mobile-only {
    display: none !important;
    @include breakpoint(tablet) {
      display: block !important;
    }
    @include breakpoint(mobile) {
        display: block !important;
    }
}
//pc 에서만 노출됨
.pc-only {
    display: block;
  @include breakpoint(tablet) {
    display: none;
  }
    @include breakpoint(mobile) {
        display: none;
    }
}
body {
    background: #000;
}

.ava-wrap{
  overflow: hidden;
  background: rgb(244,38,98);
  background: linear-gradient(305deg, rgba(244,38,98,1) 0%, rgba(239,70,170,1) 40%, rgba(63,189,248,1) 100%);
}

//footer
.footer {
  background: #060d33;
  flex: none;
  &-box{
    max-width: $content-width;
    height: 320px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 0 40px;
    background: #060d33 url("@/assets/image/bg_footer.png") no-repeat center top;
    background-size: contain;
    @include breakpoint(tablet) {
      height: 160px;
      margin: 0 auto;
      background: #060d33 url("@/assets/image/bg_footer_mo.png") no-repeat center
      top;
      background-size: contain;
    }
    @include breakpoint(mobile) {
      height: 160px;
      margin: 0 auto;
      background: #060d33 url("@/assets/image/bg_footer_mo.png") no-repeat center
      top;
      background-size: contain;
    }
  }
}
