//모바일 tablet에서만 노출됨
.mobile-only {
  display: none !important;
  @include breakpoint(mobile) {
    display: block !important;
  }
}
//pc 에서만 노출됨
.pc-only {
  display: block;
  @include breakpoint(mobile) {
    display: none;
  }
}
body {
  background: #000;
}

.ava-wrap {
  overflow: hidden;
  background: rgb(244, 38, 98);
  background: linear-gradient(
    305deg,
    rgba(244, 38, 98, 1) 0%,
    rgba(239, 70, 170, 1) 40%,
    rgba(63, 189, 248, 1) 100%
  );
}

//footer
.footer {
  background: #f72362;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-box {
    // max-width: $content-width;
    // height: 150px;
    // margin: 0 30px;
    // padding: 0 0 40px;
    max-width: 1260px;
    display: flex;
    height: 400px;
    margin: 0 auto;
    width: 100%;
    background: #f72362 url("@/assets/image/bg_footer_v3.png") no-repeat center
      center;
    background-size: contain;
    @include breakpoint(tablet) {
      max-width: 960px;
      height: 300px;
    }
    @include breakpoint(mobile) {
      max-width: 640px;
      height: 250px;
      background: #f72362 url("@/assets/image/bg_footer_mo_v3.png") no-repeat
        center center;
      background-size: contain;
    }
  }
  // &-bottom {
  //   display: flex;
  //   max-width: 640px;
  //   height: 150px;
  //   // margin: 0 30px;
  //   width: 100%;
  //   background: #f72362 url("@/assets/image/bg_footer_bottom.png") no-repeat
  //     center center;
  //   background-size: contain;
  //   background-position: center center;
  //   @include breakpoint(tablet) {
  //     height: 100px;
  //     max-width: 480px;
  //   }
  //   @include breakpoint(mobile) {
  //     height: 100px;
  //     margin: 0 120px;
  //   }
  // }
}
